@import 'themes/default.scss';

textarea[class*="language-"],
code[class*="language-"],
pre[class*="language-"] {

    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    color: $color;
    font-family: Roboto Mono, monospace;
    font-size: 1em;
    line-height: 1.5em;

    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;

    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
    margin: 0;
}

.hljs {

    display: block;
    overflow-x: auto;
    background: $background;
}

/* Base color: saturation 0; */
.hljs,
.hljs-subst {

    color: $color;
}

.hljs-variable {

    color: $field;
}

.hljs-comment {

    color: $comment;
}

.hljs-title,
.hljs-quote,
.hljs-function {

    color: $function;
}

.hljs-params,
.hljs-attr,
.hljs-attribute {

    color: $params;
}

.hljs-meta,
.hljs-keyword,
.hljs-doctag,
.hljs-literal,
.hljs-selector-pseudo,
.hljs-code {

    color: $tag;
}

.hljs-number,
.hljs-link {

    color: $int;
}

.hljs-name,
.hljs-selector-tag,
.hljs-emphasis,
.hljs-strong {

    color: $name,
}

.hljs-string,
.hljs-section,
.hljs-regexp {

    color: $string;
}

.hljs-built_in,
.hljs-selector-class,
.hljs-symbol {

    color: $class-name;
}

/* Misc effects */
.hljs-doctag,
.hljs-strong,
.hljs-literal {

    font-weight: bold;
}

.hljs-emphasis,
.hljs-selector-pseudo,
.hljs-quote {

    font-style: italic;
}
