$color: #b7b7b7;
$background: #263238;
$header-background: #1E272C;

$tag: #C792EA;
$params: #9876AA;
$function: #82AAFF;
$field: #EEFFFF;
$class-name: #FFCB6B;
$string: #C3E88D;
$int: #F78C6C;
$name: #F07178;
$operator: #89DDFF;
$comment: #546E7A;

$selection-foreground: #FFFFFF;
$selection-background: #B0BEC5;
